@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Montserrat:wght@500;600;700;800&display=swap');

body {
    width: 100%;
    background-color: #5CDB95;
    font-family: 'Comfortaa';
}

.header-container {
    max-width: 1200px;
    margin-top: 70px;
    margin-left: calc(360px - ((1920px - 100%) / 2));
    margin-right: 360px;
    margin-bottom: 100px;
}

.header-nav {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 70px;
    max-width: 1620px;
    align-content: center;
}

.burger-menu {
    display: none;
}

.header-background {
    max-width: 1200px;
    border-radius: 25px;
    background-color: #EDF5E1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.header-nav-item {
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    color: #05386B;
    transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.header-nav-item:focus {
    outline-offset: 5px;
    outline: 3px solid #05386B;
}

.header-nav-item:hover {
    color: #84CEEB;
}

.header-nav-item:active {
    outline: none;
    color: #84CEEB;
}

.header-nav-item:not(:last-child) {
    margin-right: 50px;
}

.aboutme-container {
    margin-left: 150px;
    margin-right: 150px;
    display: inline-block;
    margin-bottom: 250px;
}

.phone {
    background-image: url(../img/phone-screen.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 440px;
    height: 800px;
    position: relative;
    display: inline-block;
    margin-right: 200px;
}

.screen {
    width: 380px;
    height: 670px;
    display: inline-block;
    position: absolute;
    left: 80px;
    top: 45px;
}

.aboutme-title {
    font-size: 50px;
    font-weight: 700;
    color: #05386B;
    position: absolute;
    top: 70px;
    left: 55px;
    margin: 0;
}

.aboutme-title.active {
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateY(-100px);
    opacity: 0;
}

.aboutme-title.default {
    transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
    transform: translateY(0);
    opacity: 1;
}

.aboutme-text {
    position: absolute;
    width: 330px;
    transform: translateY(444px);
    opacity: 0;
    top: 270px;
    left: 45px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #05386B;
    align-content: center;
}

.aboutme-text.active {
    transition: transform 0.5s ease-in-out, opacity 0.6s ease-in-out;
    transform: translateY(-100px);
    opacity: 1;
}

.aboutme-text.default {
    transition: transform 0.5s ease-in-out, opacity 0.4s ease-in-out;
    transform: translateY(444px);
    opacity: 0;
}

.touch {
    background-image: url(../img/touch.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 250px;
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
    left: 250px;
    top: 450px;
    transition: background-image 0.5s ease-in-out;
}

.touch:focus {
    outline: #05386B;
}

.touch:hover {
    background-image: url(../img/touch-hover.svg);
    width: 100px;
    height: 250px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.touch.active {
    transition: opacity 0.2s ease-in-out, transform 0.5s ease-in-out, background-image 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(300px);
}

.touch.default {
    transition: opacity 1s ease-in-out, transform 0.3s ease-in-out, background-image 0.5s ease-in-out;
    opacity: 1;
    transform: translateY(0);
}

.back {
    background-image: url(../img/back.svg);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    background-size: 100% 100%;
    position: absolute;
    top: 550px;
    left: 250px;
    opacity: 0;
    transform: translateY(300px);
}

.back:hover {
    background-image: url(../img/back-hover.svg);
    width: 60px;
    height: 60px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.back.active {
    transition: opacity 1s ease-in-out, transform 0.3s ease-in-out, background-image 0.5s ease-in-out;
    transform: translateY(0);
    opacity: 1;
}

.back.default {
    transition: opacity 0.2s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(300px);
    opacity: 0;
}

.scrollbar-phone {
    display: inline-block;
    width: 25px;
    height: 667px;
    position: absolute;
    top: 47px;
    right: 35px;
    border-radius: 25px;
    background-color: #cacaca;
}

.scroll {
    width: 100%;
    height: 50%;
    background-color: #379683;
    border-radius: 25px;
    opacity: 0.8;
}

.scroll.active {
    transition: transform 0.5s ease-in-out;
    transform: translateY(100%);
}

.scroll.default {
    transition: transform 0.5s ease-in-out;
    transform: translateY(0);
}

.phone-background {
    border-radius: 30px;
    text-align: center;
    width: 1620px;
    height: 900px;
    display: table-cell;
    vertical-align: middle;
    background-color: #EDF5E1;
}

.photo {
    display: inline-block;
    opacity: 0;
}

.photo.active {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.photo.default {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.my-photo {
    border-radius: 30px;
    height: 800px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.stack-title {
    font-size: 50px;
    font-weight: 700;
    color: #05386B;
    margin: 0;
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 60px;
}

.stack-container {
    display: inline-block;
    width: calc(100% - 300px);
    min-height: 700px;
    margin: 0 150px;
    margin-bottom: 80px;
}

.stack-box {
    width: 100%;
    height: 100%;
    background-color: #EDF5E1;
    border-radius: 30px;
    display: inline-block;
    padding-bottom: 30px;
}

.skills-content {
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap;
    min-height: 550px;
    margin-right: 80px;
}

.flex-block {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.skills-item {
    font-size: 40px;
    font-weight: 500;
    color: #05386B;
    display: inline-block;
}

.skills-container {
    margin-left: 100px;
    max-height: 700px;
    width: calc(((100%) - 100px) / 2 );
    display: inline-block;
}

.skills-block {
    background-color: #EDF5E1;
    border-radius: 30px;
    width: 600px;
    height: 100%;
}

.skills-title {
    font-size: 50px;
    font-weight: 700;
    color: #05386B;
    margin: 0;
    position: absolute;
    top: 30px;
    left: 30px;
}

.title-container {
    background-color: #EDF5E1;
    border-radius: 20px;
    display: inline-block;
    width: 600px;
    height: 80px;
    vertical-align: middle;
    margin-bottom: 80px;
}

.flex-stack-skills {
    display: flex;
    margin-bottom: 150px;
    margin-left: 150px;
    margin-right: 150px;
    max-width: 1620px;
    max-height: 760px;
}

.skills-background {
    background-color: #EDF5E1;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.skills-item {
    margin-bottom: 30px;
}

.power {
    background-image: url(../img/power-icon.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    margin: 0 160px;
}

.activate {
    outline-offset: 15px;
    outline: 4px solid #EDF5E1;
    background-image: url(../img/power-icon.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    margin: 0 160px;
    transition: outline 0.4s ease-in-out;
}

.works-title {
    font-size: 50px;
    font-weight: 700;
    color: #05386B;
    margin: 0;
    display: inline-block;
    padding-left: 30px;
    padding-top: 15px;
    margin-bottom: 80px;
}

.works-container {
    margin-left: 150px;
    margin-bottom: 130px;
}

.works-flex {
    display: flex;
    max-width: 1620px;
    justify-content: space-between;
}

.works-flex-item {
    background-color: #EDF5E1;
    width: 320px;
    height: 400px;
    border-radius: 30px;
}

.item-1 {
    background-image: url(../img/logo-works-evklid.svg);
    background-size: 260px 150px;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
}

.item-2 {
    background-image: url(../img/logo-works-lagoona.svg);
    background-size: 260px 150px;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
}

.item-3 {
    visibility: hidden;
}

.item-4 {
    visibility: hidden;
}

.works-descr {
    font-size: 20px;
    color: #05386B;
    font-weight: 500;
    line-height: 30px;
    position: absolute;
    top: 150px;
    display: inline-block;
    left: 30px;
    right: 30px;
}

.works-btn {
    position: absolute;
    bottom: 50px;
    right: 30px;
    border-radius: 20px;
    border: none;
    width: 150px;
    height: 50px;
    background-color: #8EE4AF;
    font-size: 15px;
    color: #05386B;
    font-weight: 700;
    line-height: 30px;
    transition: background-color 0.3s ease-in-out;
}

.works-btn:focus {
    outline: 2px solid #379683;
}

.works-btn:hover {
    background-color: #84CEEB;
}

.footer-container {
    margin-left: 360px;
    margin-right: 360px;
    width: calc(100% - 720px);
    margin-bottom: 80px;
}

.footer-background {
    background-color: #EDF5E1;
    border-radius: 30px;
    width: 100%;
    height: 600px;
    position: relative;
}

.footer-title {
    font-size: 50px;
    font-weight: 700;
    color: #05386B;
    margin: 0;
    display: inline-block;
    padding-left: 60px;
    padding-top: 40px;
}

.socials {
    display: flex;
    position: absolute;
    left: 60px;
    top: 150px;
}

.telegram {
    width: 150px;
    height: 150px;
    background-image: url(../img/telegram.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 40px;
    transition: outline 0.3s ease-in-out, background-image 0.3s ease-in-out;
}

.telegram:focus {
    outline-offset: 5px;
    outline: 3px solid #84CEEB;
}

.telegram:hover {
    background-image: url(../img/telegram-hover.svg);
    width: 150px;
    height: 150px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.telegram:active {
    background-image: url(../img/telegram-active.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.tel {
    width: 150px;
    height: 150px;
    background-image: url(../img/tel.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 40px;
    transition: outline 0.3s ease-in-out, background-image 0.3s ease-in-out;
}

.tel:focus {
    outline-offset: 5px;
    outline: 3px solid #84CEEB;
}

.tel:hover {
    background-image: url(../img/tel-hover.svg);
    width: 150px;
    height: 150px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.tel:active {
    background-image: url(../img/tel-active.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.mail {
    width: 150px;
    height: 150px;
    background-image: url(../img/mail.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: outline 0.3s ease-in-out, background-image 0.3s ease-in-out;
}

.mail:focus {
    outline-offset: 5px;
    outline: 3px solid #84CEEB;
}

.mail:hover {
    background-image: url(../img/mail-hover.svg);
    width: 150px;
    height: 150px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.mail:active {
    background-image: url(../img/mail-active.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media (max-width: 1750px) {
    .skills-container {
        max-height: 550px;
    }

    .stack-container {
        min-height: 550px;
    }

    .swiper-container {
        top: 120px;
        height: 320px;
    }

    .skills-content {
        flex-direction: column;
    }

    .flex-block {
        width: 100%;
    }
}

@media (max-width: 1550px) {
    .my-photo {
        height: 400px;
    }

    .phone-background {
        vertical-align: auto;
        height: 500px;
        width: 860px;
    }

    .aboutme-container {
        margin-left: calc((100% - 860px) / 2);
        margin-right: calc((100% - 860px) / 2);
    }

    .phone {
        margin-right: 100px;
        height: 400px;
        width: 220px;
    }

    .aboutme-title {
        font-size: 20px;
        top: 40px;
        left: 30px;
    }

    .scrollbar-phone {
        top: 23px;
        right: 18px;
        width: 15px;
        height: 335px;
    }

    .touch {
        width: 50px;
        height: 100px;
        top: 250px;
        left: 120px;
    }

    .touch:hover {
        width: 50px;
        height: 100px;
    }

    .aboutme-text {
        font-size: 10px;
        line-height: 20px;
        width: 150px;
        top: 150px;
        left: 30px;
    }

    .back {
        width: 30px;
        height: 30px;
        top: 300px;
        left: 140px;
    }

    .back:hover {
        width: 30px;
        height: 30px;
    }

    .header-nav-item {
        font-size: 20px;
    }

    .header-nav {
        max-width: 1250px;
        margin-top: 50px;
        margin-bottom: 80px ;
    }

    .header-background {
        max-width: 800px;
        height: 60px;
    }
}

@media (max-width: 1150px) {
    .header-nav {
        margin-left: 75px;
        margin-right: 75px;
        max-width: calc(100% - 150px);
    }

    .header-background {
        max-width: 100%;
        margin: 0;
    }
}

@media (max-width: 1024px) {
    .header-nav-item:not(:last-child) {
        margin-right: 20px;
    }   
}

@media (max-width: 870px) {
    .header-nav {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }

    .header-nav-item {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .burger-menu {
        display: block;
        width: 40px;
        height: 28px;
        cursor: pointer;
    }

    .burger-strings {
        width: 40px;
        height: 6px;
        background-color: #05386B;
        opacity: 0.8;
        border-radius: 5px;
    }

    .string-1.active {
        transition: transform 0.5s ease-in-out;
        transform: translateY(11px) rotate(45deg);
    }

    .string-1.default {
        transition: transform 0.5s ease-in-out;
        transform: translateY(-11px) rotate(-45deg);
    }

    .string-3.active {
        transition: transform 0.5s ease-in-out;
        transform: translateY(-11px) rotate(-45deg);
    }

    .string-3.default {
        transition: transform 0.5s ease-in-out;
        transform: translateY(11px) rotate(45deg);
    }

    .string-2.active {
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
    }

    .string-2.default {
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
    }

    .burger-strings:not(:last-child) {
        margin-bottom: 5px;
    }

    .header-nav-item {
        display: none;
    }
}